div.ingredient-group:nth-child(odd) {
	float: left;
	padding-right: 20px;
}

div.ingredient-group:nth-child(even) {
    float: left;
	padding-right: 0;
}

div.ingredient-group {
	width: 50%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

span.validationError {
	color: red;
}

.logo {
	color: #000000;
	float: left;
	padding-left: 24px;
	font-szie: 16px;
	font-weight : bold;
}

/*any a inside log will have ....*/

.logo > a {
	text-decoration: none;
	color: #000000;	
}

.banner {
	width: 100%;
	display: block;
}

.banner > .banner-image {
	width : 100%;
	display:block;
}

